<div class="container-fluid">
  <div class="row mx-5 my-2">
    <div class="col-12">
      <h3>
        Quickly generate data structure
        <small class="text-muted h6">v 1.0</small>
      </h3>
    </div>
  </div>
  <div class="row mx-5 my-2">
    <div class="col-12">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>結構/表單名稱</mat-label>
          <input matInput placeholder="Name" name="modelName" [(ngModel)]="modelName">
        </mat-form-field>
      </form>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">名稱</th>
            <th scope="col">型態</th>
            <th scope="col">長度</th>
            <th scope="col">預設值</th>
            <th scope="col">是否可為空值</th>
            <th scope="col">是否為 PRIMARY</th>
            <th scope="col">排序</th>
            <th scope="col">刪除</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variable of variables; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>名稱</mat-label>
                  <input matInput placeholder="Name" name="name" [(ngModel)]="variable.name">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>型態</mat-label>
                  <mat-select placeholder="Type" name="type" [(ngModel)]="variable.type">
                    <mat-option *ngFor="let type of typeList" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>長度</mat-label>
                  <input matInput placeholder="Length" name="length" [(ngModel)]="variable.length">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>預設值</mat-label>
                  <input matInput placeholder="Default" name="defaultValue" [(ngModel)]="variable.defaultValue">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="d-flex">
                <mat-checkbox class="px-3 py-4" color="primary" name="isNull" [(ngModel)]="variable.isNull"></mat-checkbox>
              </form>
            </td>
            <td>
              <form class="d-flex">
                <mat-checkbox class="px-3 py-4" color="primary" name="isPrimary" [(ngModel)]="variable.isPrimary"></mat-checkbox>
              </form>
            </td>
            <td>
              <button mat-raised-button class="mx-2 my-2" (click)="up(i)" disabled>上移</button>
              <button mat-raised-button class="mx-2 my-2" (click)="down(i)" disabled>下移</button>
            </td>
            <td>
              <button mat-raised-button class="mx-2 my-2" color="warn" (click)="delete(i)">刪除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button class="mx-2 my-2" color="primary" (click)="add()">新增</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateAngular()">產生 Angular model</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateGolang()">產生 Go structure</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateSQL()">產生 SQL</button>
    </div>
  </div>
  <div class="row mx-5 my-2">
    <div class="col-12" *ngIf="result">
      <button mat-raised-button class="mx-2 my-2" color="primary" (click)="copy()">複製</button>
      {{ copiedMessage }}
      <pre><code>{{ result }}</code></pre>
    </div>
  </div>
</div>

