<div class="container-fluid">
  <div class="row mx-5 my-2">
    <div class="col-12">
      <h3>
        Quickly Generate Data Structure
        <small class="text-muted h6">v 1.2</small>
      </h3>
    </div>
  </div>
  <div class="row mx-2 my-2 main-div">
    <div class="col-12">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Structure / Table name</mat-label>
          <input matInput placeholder="Structure / Table name" name="modelName" [(ngModel)]="modelName">
        </mat-form-field>
      </form>
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Length</th>
            <th scope="col">Default</th>
            <th scope="col">Is null ?</th>
            <th scope="col">Is primary ?</th>
            <th scope="col">Sort</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variable of variables; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" name="name" [(ngModel)]="variable.name">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>Type</mat-label>
                  <mat-select placeholder="Type" name="type" [(ngModel)]="variable.type">
                    <mat-option *ngFor="let type of typeList" [value]="type">
                      {{ type }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>Length</mat-label>
                  <input matInput placeholder="Length" name="length" [(ngModel)]="variable.length">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form>
                <mat-form-field appearance="outline">
                  <mat-label>Default</mat-label>
                  <input matInput placeholder="Default" name="defaultValue" [(ngModel)]="variable.defaultValue">
                </mat-form-field>
              </form>
            </td>
            <td>
              <form class="d-flex">
                <mat-checkbox class="px-3 py-4" color="primary" name="isNull" [(ngModel)]="variable.isNull"></mat-checkbox>
              </form>
            </td>
            <td>
              <form class="d-flex">
                <mat-checkbox class="px-3 py-4" color="primary" name="isPrimary" [(ngModel)]="variable.isPrimary"></mat-checkbox>
              </form>
            </td>
            <td>
              <button mat-raised-button class="mx-2 my-2" (click)="up(i)">Up</button>
              <button mat-raised-button class="mx-2 my-2" (click)="down(i)">Down</button>
            </td>
            <td>
              <button mat-raised-button class="mx-2 my-2" color="warn" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button class="mx-2 my-2" color="primary" (click)="add()">Add</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateAngular()">Generate Angular model</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateGolang()">Generate Go structure</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateSQL()">Generate SQL</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateTable()">Generate Table</button>
      <button mat-raised-button class="mx-2 my-2" color="accent" (click)="generateJSON()">Generate JSON example</button>
    </div>
    <div class="col-12" *ngIf="result">
      <button mat-raised-button class="mx-2 my-2" color="primary" (click)="copy()">Copy</button>
      {{ copiedMessage }}
      <ng-container *ngIf="resultType === 'code'">
        <pre><code>{{ result }}</code></pre>
      </ng-container>
      <ng-container *ngIf="resultType === 'table'">
        <table class="result-table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Length</th>
            <th scope="col">Default</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let variable of variables; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ variable.name }}</td>
            <td>{{ variable.type }}</td>
            <td>{{ variable.length }}</td>
            <td>{{ variable.defaultValue }}</td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
  <div class="row mx-5 my-2">
    <div class="col-12 d-flex">
        <a class="ml-auto text-white" href="https://github.com/tpps88206/quickly-generate-data-structure">
          <i class="fab fa-github"></i>
        </a>
    </div>
  </div>
</div>

